In [12]:
import pandas as pd
import json
from  time import sleep
import requests

In [13]:
def get_dates(start, end):
    return pd.Series(pd.date_range(start, end,freq='d').format()) # Format makes the output ans str variable.

In [14]:
def city_name(city):
    
        url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"

        querystring = {"query":city}

        headers = {
        'x-rapidapi-key': "f428c4d9f7msh4e5fa3349914097p141eafjsnbfb41cd6c5eb",
        'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"
        }

        response = requests.request("GET", url, headers=headers, params=querystring)
    
    
        return response.json()['Places'][0]['PlaceId']

In [22]:
def flight_prices(origin, destination, date):
    
    #departure
    dest = city_name(origin)
    # arrival
    org = city_name(destination)

    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browseroutes/v1.0/DE/EUR/en-US/" + dest + "/" + org + "/" + date

    headers = {
    'x-rapidapi-key': "f428c4d9f7msh4e5fa3349914097p141eafjsnbfb41cd6c5eb",
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"
    }

    response = requests.request("GET", url, headers=headers)
      
    return response.json()

In [23]:
flight_prices('köln', 'Berlin', '2021-05-15')

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 40,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1047],
    'OriginId': 44910,
    'DestinationId': 42514,
    'DepartureDate': '2021-05-15T00:00:00'},
   'QuoteDateTime': '2021-02-21T19:59:00'}],
 'Carriers': [{'CarrierId': 1047, 'Name': 'eurowings'}],
 'Places': [{'Name': 'Berlin Brandenburg',
   'Type': 'Station',
   'PlaceId': 42514,
   'IataCode': 'BER',
   'SkyscannerCode': 'BER',
   'CityName': 'Berlin',
   'CityId': 'BERL',
   'CountryName': 'Germany'},
  {'Name': 'Cologne',
   'Type': 'Station',
   'PlaceId': 44910,
   'IataCode': 'CGN',
   'SkyscannerCode': 'CGN',
   'CityName': 'Cologne',
   'CityId': 'COLO',
   'CountryName': 'Germany'}],
 'Currencies': [{'Code': 'EUR',
   'Symbol': '€',
   'ThousandsSeparator': '.',
   'DecimalSeparator': ',',
   'SymbolOnLeft': False,
   'SpaceBetweenAmountAndSymbol': True,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}],
 'Routes': [{'Price': 40,
   'QuoteDateTime': '2021-02-21T19:59:00',
   'QuoteIds': [1],
   'OriginId': 44910,
   'DestinationId': 42514}]}

In [33]:
def flight_days(origin, destination, start, end):
    
    dates = get_dates(start, end).to_list()
    
    flights = {}
    
    for date in dates:
        
        try:
            result = flight_prices(origin, destination, date)
            flights[date] = result
            sleep(5)
        except:
            print('ERROR!!')
            sleep(60)
    
    return flights

In [59]:
flights = flight_days('London', 'Berlin', '2021-05-15', '2021-05-16')

In [60]:
flights

{'2021-05-15': {'Quotes': [{'QuoteId': 1,
    'MinPrice': 20,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1090],
     'OriginId': 82398,
     'DestinationId': 42514,
     'DepartureDate': '2021-05-15T00:00:00'},
    'QuoteDateTime': '2021-02-23T15:00:00'}],
  'Carriers': [{'CarrierId': 1090, 'Name': 'Ryanair'}],
  'Places': [{'Name': 'Berlin Brandenburg',
    'Type': 'Station',
    'PlaceId': 42514,
    'IataCode': 'BER',
    'SkyscannerCode': 'BER',
    'CityName': 'Berlin',
    'CityId': 'BERL',
    'CountryName': 'Germany'},
   {'Name': 'London Stansted',
    'Type': 'Station',
    'PlaceId': 82398,
    'IataCode': 'STN',
    'SkyscannerCode': 'STN',
    'CityName': 'London',
    'CityId': 'LOND',
    'CountryName': 'United Kingdom'},
   {'Name': 'London',
    'Type': 'City',
    'PlaceId': 3169460,
    'SkyscannerCode': 'LOND',
    'CityId': 'LOND',
    'CountryName': 'United Kingdom'}],
  'Currencies': [{'Code': 'EUR',
    'Symbol': '€',
    'ThousandsSeparator': '.',
    'DecimalSeparator': ',',
    'SymbolOnLeft': False,
    'SpaceBetweenAmountAndSymbol': True,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}],
  'Routes': [{'QuoteDateTime': '2021-02-23T15:00:00',
    'Price': 20,
    'QuoteIds': [1],
    'OriginId': 3169460,
    'DestinationId': 42514}]},
 '2021-05-16': {'Quotes': [{'QuoteId': 1,
    'MinPrice': 24,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1090],
     'OriginId': 82398,
     'DestinationId': 42514,
     'DepartureDate': '2021-05-16T00:00:00'},
    'QuoteDateTime': '2021-02-19T20:57:00'}],
  'Carriers': [{'CarrierId': 1090, 'Name': 'Ryanair'}],
  'Places': [{'Name': 'Berlin Brandenburg',
    'Type': 'Station',
    'PlaceId': 42514,
    'IataCode': 'BER',
    'SkyscannerCode': 'BER',
    'CityName': 'Berlin',
    'CityId': 'BERL',
    'CountryName': 'Germany'},
   {'Name': 'London Stansted',
    'Type': 'Station',
    'PlaceId': 82398,
    'IataCode': 'STN',
    'SkyscannerCode': 'STN',
    'CityName': 'London',
    'CityId': 'LOND',
    'CountryName': 'United Kingdom'},
   {'Name': 'London',
    'Type': 'City',
    'PlaceId': 3169460,
    'SkyscannerCode': 'LOND',
    'CityId': 'LOND',
    'CountryName': 'United Kingdom'}],
  'Currencies': [{'Code': 'EUR',
    'Symbol': '€',
    'ThousandsSeparator': '.',
    'DecimalSeparator': ',',
    'SymbolOnLeft': False,
    'SpaceBetweenAmountAndSymbol': True,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}],
  'Routes': [{'Price': 24,
    'QuoteDateTime': '2021-02-19T20:57:00',
    'QuoteIds': [1],
    'OriginId': 3169460,
    'DestinationId': 42514}]}}

In [55]:
prices = {}
for date in flights:
    result = flights[date]['Quotes'][0]['MinPrice']
    prices[date] = result

In [78]:
type(list(prices.keys()))

list

In [79]:
def same_price(origin, destination, start, end):
    
    flights = flight_days(origin, destination, start, end)
    
    prices = {}
    
    for date in flights:
        result = flights[date]['Quotes'][0]['MinPrice']
        prices[date] = result
    
    dates = list(prices.keys())
    prices = list(prices.values())  
    
    flights_df = pd.DataFrame([dates, prices]).T
    flights_df.columns = ['Date', 'Price']
    flights_df.sort_values(['Price'], inplace = True)
    
    
    return flights_df

In [81]:
same_price('London', 'Berlin', '2021-05-15', '2021-05-18')

         Date Price
0  2021-05-15    20
3  2021-05-18    21
1  2021-05-16    24
2  2021-05-17    24